/* BookSearchResults.css */

/* Container holding the cards */
.book-cards-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Style for each individual card */
  .book-card {
    width: 100%;
  }
  
  /* Media query for smaller screen sizes */
  @media (max-width: 768px) {
    .book-cards-container {
      grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns for smaller screens */
    }
  }
  