/* UserProfile.css */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .userFormDisabled form{
    margin-top: 1rem;
    /* padding: 0; */
     margin-left: 35rem;
    /* margin-bottom: 5rem; */ 
    /* max-width: 00px; */
  }

  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 50rem;
  }
  
  .cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  

  .userForm form {
    margin-top: 5rem;
    margin-left: 35rem;
    margin-bottom: 5rem;
    /* max-width: 00px; */
}

.ant-row{
  width: 100%;
}

.ant-form-item-label {
  max-width: 800px;
  color: aqua;
}

.ant-input{
  max-width: 300px;
}

.button div{
  width:fit-content;
  margin-left: 3.7rem;
}

.switch{
  margin-left: 45rem;
  margin-bottom: 0;
  margin-top: 5rem;
}


.switch button{
  margin-left: 1rem;
}

