.header{
    background: "#27024B";
    margin:2px;
}

.search{
    margin:0px 2% 0px 50%;
    padding: 0 0 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.ant-input-affix-wrapper,
.ant-input  {
    background-color:#E7F8FC;
  }